@model ServicioWepAPI.Models.cdcsurvey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cdcsurvey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.variable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.variable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.survey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.survey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.key1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.key1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.key2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.key2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.key3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.key3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.superset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.superset)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
